body {
  font-family: 'Inter', 'Helvetica Neue','helvetica', 'arial', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nascondi {
  display: none !important;
}
.palla-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-image: url('imgs/carta.jpg');
  /*background-color: wheat;*/
}
.blocchettino-su-desktop {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url('imgs/carta.jpg');
  position: absolute;
  z-index: 99999;
}
.blocchettino-su-desktop p {
  position: absolute;
  left: 0;
  width: 40%;
  text-align: left;
  font-size: 2.7vw;
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
  font-weight: 500;
}
.img-block {
  position: absolute;
  right: 0;
  height: 100vh;
  mix-blend-mode: multiply;
}
.palla-della-verita-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#palla-della-verita {
  width: 80vw;
  height: 80vw;
  /*border-radius: 50%;*/
  background-size: cover;
  background-image: url('imgs/palla-black-min.png');
}
#container-messaggio {
  position: fixed;
  opacity: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*background-color: rgba(224, 222, 213, 0.9);*/
  background-color: rgba(244, 244, 244, 0.9);
}
.messaggio {
  font-family: 'Inter', 'Helvetica Neue','helvetica', 'arial', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  padding: 0 20px;
}
.chiudi {
  position: fixed;
  opacity: 0;
  background-color: trasparent;
  color: black;
  text-align: center;
  bottom: 20px;
  width: 100%;
  font-family: 'Inter', 'Helvetica Neue','helvetica', 'arial', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.4em;
  cursor: pointer;
}
#titoloo{
  position: fixed;
  opacity: 1;
  padding: 20px 10px;
  background-color: trasparent;
  color: black;
  text-align: center;
  top: 12px;
  width: 100%;
  font-family: 'Inter', 'Helvetica Neue','helvetica', 'arial', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 24px;
  line-height: 1.2em;
  box-sizing: border-box;
}
.menu-about {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  pointer-events: none;
  background-color: trasparent;
}
.icon-about {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  pointer-events: all;
  mix-blend-mode: multiply;
  /*z-index: 9;*/
}
.icon-about img {
  width: 50px;
  mix-blend-mode: multiply;
}
.doggo {
  width: 60vw;
  height: auto;
  position: absolute;
  right: 0;
}
.pray {
  width: 30vw;
  height: auto;
  position: absolute;
  left: 15px;
  top: 80px;
}
.pray-2, .pray-3 {
  opacity: 0;
}
.copirait {
  font-size: 12px;
  padding: 0 0 10px;
}
.menu-about .menu-open {
  display: flex;
  align-items: center;
  background-color: #efefef;
  flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 90vw;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  border-radius: 40px 0 0 40px;
  padding: 30px 30px 30px 35px;
  box-sizing: border-box;
  z-index: 99;
  pointer-events: all;

  -webkit-box-shadow: -9px 0px 15px -1px rgba(105,105,105,0.51);
  -moz-box-shadow: -9px 0px 15px -1px rgba(105,105,105,0.51);
  box-shadow: -9px 0px 15px -1px rgba(105,105,105,0.51);

  transform:translateX(120vw);
}
.menu-about .menu-open .testo {
  margin: 0;
  font-size: 28px;
  padding-top: 20px;
  line-height: 1.3em;
}
#immaginette-finali {
  width: 100%;
  height: auto;
  height: 290px;
  position: relative;
}
.close-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 32px;
  margin: 0;
}
.pop-up {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  padding: 6.5% 3%;
  box-sizing: border-box;
  background-size: cover;
  background-image: url('imgs/carta.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.pop-up p {
  text-align: center;
  font-size: 12px;
  padding: 2%;
  box-sizing: border-box;
  font-weight: 500;
  font-family: 'Inter', 'Helvetica Neue','helvetica', 'arial', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}
.pop-up .img-intro {
  width: 80vw;
  mix-blend-mode: multiply;
}
.pop-up .close-pop-up {
  font-size: 18px;
}
.show-popup {
  opacity: 1 !important;
  pointer-events: all;
}
.loading {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-image: url('imgs/carta-min.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.loading .img-load {
  mix-blend-mode: multiply;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hide-loading {
  opacity: 0 !important;
  pointer-events: none;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
